@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../public/fonts/gilroy/Gilroy-Regular.ttf');
}
@font-face {
  font-family: 'Gilroy-bold';
  src: url('../public/fonts/gilroy/Gilroy-Bold.ttf');
}
@font-face {
  font-family: 'gilroy-medium';
  src: url('../public/fonts/gilroy/Gilroy-Medium.ttf');
}
@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('../public/fonts/gilroy/Bebas\ Neue\ Regular\ 400.ttf');
}
@font-face {
  font-family:'BebasNeue-Bold' ;
  src: url('../public/fonts/gilroy/Bebas\ Neue\ Bold\ 700.otf');
}